@font-face {
    font-family: yo;
    src: url(assets/fonts/SpotifyMixUI-Bold-.woff2);
}

@font-face {
    font-family: yo2;
    src: url(assets/fonts/SpotifyMixUI-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    padding-top: 3px;
    height: 100%;
    width: 100%;
    background-color: #000000;
}

header {
    display: flex;
    width: 100%;
    height: 65px;
    gap: 10px;
    align-items: center;

    padding: 27px;
    padding-right: 15px;
}

.invert {
    filter: invert();
}

.grey {

    filter: invert(60%);

}

.logo {
    aspect-ratio: 1;
    height: 32px;
    position: relative;
    left: 0px;

}

.home img {
    height: 24px;
    aspect-ratio: 1;
}

.home {
    height: 48px;
    aspect-ratio: 1;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 28vw;
}

.search {
    background-color: #1f1f1f;
    display: flex;
    width: 474px;
    height: 48px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}

.search label {
    padding: 13px;
    padding-top: 18px;
}

.search a {
    height: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    padding-right: 13px;
}

.search input[type=text] {
    height: 48px;
    width: 100%;
    font-size: 17px;
    font-family: yo2;
    background-color: inherit;
    border: none;
}

.search a img {
    filter: invert(80%);
    height: 26px;
    aspect-ratio: 1.3;
    border-left: 1px solid black;
    padding-left: 10px;
}

.search label img {
    filter: invert(80%);
    height: 26px;
    aspect-ratio: 1;
}

.explore-premium {
    border: none;
    background-color: white;
    border-radius: 100px;
    padding: 7px 20px;
    font-weight: bold;
    margin-left: 4vw;
    font-family: yo;
}

.notification {
    height: 32px;
    aspect-ratio: 1;
    padding: 10px;

}

.notification img {
    height: 16px;
    aspect-ratio: 1;
}

.friend-activity {
    height: 32px;
    aspect-ratio: 1;
    padding: 10px;
    transform: translateX(-5px);
}

.friend-activity img {
    height: 16px;
    aspect-ratio: 1;


}

.profile {
    background-color: #F573A0;
    aspect-ratio: 1;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: yo2;
    font-weight: 600;
}

.install-app {
    color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 122px;
    height: 32px;
    padding: 5px;
    padding-top: 6px;
    font-family: yo;
    font-size: 14px;

}

.install-app img {
    aspect-ratio: 1;
    height: 16px;
}

main {
    height: 100%;
    width: 100%;
}

.container {
    height: 80%;
    width: 100%;
    padding: 0 10px;
    gap: 10px;
    display: flex;
}

.left {
    height: 100%;
    width: 28%;
    background-color: #121212;
    border-radius: 10px;

}

.right {
    height: 100%;
    width: 72%;
    background: linear-gradient(to bottom, #1f1f1f 20%, #121212 80%);
    border-radius: 10px;

}

.top {}

.rest {}

.box1 {}

.box2 {}